$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$white: #fff;

@mixin button($bg-color) {
    background-color: $bg-color;
    color: #fff;
    padding: 7px 14px;
    margin:0 5px;
    border-radius: 5px;
    border: 1px solid transparent;

   &:hover {
    background-color: red
  }
}

.container {
  color: var(--danger);

  .primary {
    @include button($primary)
  }

  .secondary {
    @include button($secondary);
  }

  .success {
    @include button($success);
  }
}
